<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### Planet HTML template.
### 
### This is intended to demonstrate and document Planet's templating
### facilities, and at the same time provide a good base for you to
### modify into your own design.
### 
### The output's a bit boring though, if you're after less documentation
### and more instant gratification, there's an example with a much
### prettier output in the fancy-examples/ directory of the Planet source.

### Lines like this are comments, and are automatically removed by the
### templating engine before processing.


### Planet makes a large number of variables available for your templates.
### See INSTALL for the complete list.  The raw value can be placed in your
### output file using <TMPL_VAR varname>.  We'll put the name of our
### Planet in the page title and again in an h1.
 
    <head>
        <title><TMPL_VAR name></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">

        <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon"/>

        <link rel="stylesheet" href="planet.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <h1><a href="<TMPL_VAR link>" title="<TMPL_VAR name>"><TMPL_VAR name></a></h1>
            
            <ul id="navigation">
                <li><a href="http://mandrivabrasil.org/site/" title="Comunidade Mandriva Brasil">Comunidade</a></li>
                <li><a href="http://forum.mandrivabrasil.org/" title="Fórum da Comunidade Mandriva Brasil">Fórum</a></li>
                <li><a class="nav-last" href="http://wiki.mandriva.com/pt/" title="Wiki oficial Mandriva Linux">Wiki</a></li>
            </ul><!--end navigation-->
        </div><!--end header-->

        ### One of the two loops available is the Channels loop.  This allows you
        ### to easily create a list of subscriptions, which is exactly what we'll do
        ### here.

        ### Note that we can also expand variables inside HTML tags, but we need
        ### to be cautious and HTML-escape any illegal characters using the form
        ### <TMPL_VAR varname ESCAPE="HTML">
        
        <div id="content">
            <div id="sidebar">
                <div class="sidebar-section">
                    <h2>Assinar</h2>
                    <h3>Feed</h3>
                    <p>
                        <a href="http://feeds2.feedburner.com/PlanetaMandrivaBrasil" title="Assine o feed do Planeta Mandriva Brasil"><img class="feed" src="images/feed.png" alt="Feed" /> Assine o feed do Planeta Mandriva Brasil em seu leitor favorito.</a>
                    </p>
                    <h3>Via e-mail</h3>
                    <p>Digite o seu e-mail abaixo para receber as atualizações do Planeta Mandriva Brasil diretamente no seu e-mail.</p>
                    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=PlanetaMandrivaBrasil', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                        <p>Digite seu e-mail:</p>
                        <p class="aligncenter"><input type="text" style="width:140px" name="email"/></p>
                        <input type="hidden" value="PlanetaMandrivaBrasil" name="uri"/>
                        <input type="hidden" name="loc" value="pt_BR"/>
                        <p class="aligncenter"><input type="submit" value="Assinar" /></p>
                        <p class="aligncenter by-feedburner">Oferecido pelo <a href="http://feedburner.google.com" target="_blank">FeedBurner</a></p>
                    </form>
                </div><!--end sidebar-section-->
                
                <div class="sidebar-section feeds">
                    <h2>Astronautas</h2>
                    <ul>
                        <TMPL_LOOP Channels>
                        <li><a href="<TMPL_VAR url ESCAPE="HTML">"><img src="images/feed-list.png" alt="(feed)" /></a> <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a></li>
                        </TMPL_LOOP>
                    </ul>
                </div><!--end sidebar-section-->
                
                <div class="sidebar-section">
                    <h2>Planetas</h2>
                    <h3>Nacionais:</h3>
                    <ul>
                        <li><a href="http://planeta.gnulinuxbrasil.org/">Planeta Gnu/Linux Brasil</a></li>
                        <li><a href="http://www.debianbrasil.org/planeta/">Planeta Debian Brasil</a></li>
                        <li><a href="http://planeta.postgresql.org.br/">Planeta PostgreSQL Brasil</a></li>
                        <li><a href="http://planeta.ubuntubrasil.org/">Planeta Ubuntu Brasil</a></li>
                    </ul>
                    <h3>Internacionais:</h3>
                    <ul>
                        <li><a href="http://planetmandriva.zarb.org/">Planet Mandriva</a></li>
                    </ul>
                </div><!--end sidebar-section-->
            </div><!--end sidebar-->

            ### The other loop is the Items loop, which will get iterated for each
            ### news item.

            <div id="posts">
                <TMPL_LOOP Items>

                ### Visually distinguish articles from different days by checking for
                ### the new_date flag.  This demonstrates the <TMPL_IF varname> ... </TMPL_IF>
                ### check.

                <TMPL_IF new_date>
                <h2><TMPL_VAR new_date></h2>
                </TMPL_IF>

                ### Group consecutive articles by the same author together by checking
                ### for the new_channel flag.

                <TMPL_IF new_channel>
                <h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
                </TMPL_IF>

                <div class="post">
                    <TMPL_IF title>
                    <h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
                    </TMPL_IF>
                    <div class="post-content"
                        <TMPL_VAR content>
                    </div><!--end post-content-->
                    <div class="post-info">
                        <em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>por <TMPL_VAR author> em </TMPL_IF><TMPL_VAR date></a></em>
                    </div><!--end post-info-->
                </div><!--end post-->
                </TMPL_LOOP>
            </div><!--end posts-->
        </div><!--end content-->

        <div class="footer-top">
            <div class="footer-bottom">
                <div id="footer">
                    <p>
                        As opiniões expressadas nos posts representam as opiniões dos autores e não necessáriamente a opinião da <a href="http://mandriva.com" title="Mandriva Linux">Mandriva</a>.
                    </p>
                    <p>O Planeta Mandriva Brasil é mantido por Elyézer Mendes Rezende. Se for necessário você pode entrar em <a href="http://elyezer.com/contato" title="Entre em contato com o Elyézer">contato</a>.
                    </p>
                </div><!--end footer-->
            </div><!--end footer-->
        </div><!--end footer-top-->
        
        <div id="powered">
            <p>
                Powered by <a href="http://www.planetplanet.org/" title="Planet">Planet</a>, 
                <a href="http://python.org" title="Python">Python</a> e 
                Cron. <em>Última atualização: <TMPL_VAR date></em>
            </p>
        </div><!--end powered-->
    </body>
</html>
