/* RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a {
    text-decoration:none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Planeta Mandriva Brasil */

body {
    background: url(images/top-bg.png) repeat-x;
}

/* Header */

div#header {
    background: url(images/orange-gradiant.jpg) no-repeat bottom center;
    height:120px;
    margin:auto;
    position:relative;
    width: 960px;
}

div#header h1 {
    font-size:160%;
    font-weight:normal;
    letter-spacing:-1px;
    line-height:80px;
    margin-left:10px;
}

div#header a {
    color:#21449C;
}

div#header a:hover {
    color:#282828;
}

/* Navigation */

ul#navigation {
    background: url(images/secondary-bg.jpg) no-repeat top left;
    bottom:8px;
    height:34px;
    padding-left:10px;
    position:absolute;
    width:960px;
}

ul#navigation li {
    display:inline;
    float:left;
    line-height:34px;
}

ul#navigation li a {
    border-right:1px solid #f2f2f2;
    color:#dadada;
    font-size:80%;
    font-weight:bold;
    padding:0 10px;
}

ul#navigation li a.nav-last {
    border-right:0;
}

ul#navigation li a:hover {
    color:#f2f2f2;
}

/* Content */

div#content {
    background:url(images/content-gradiant.gif) repeat-x 0 0;
    margin:auto;
    width: 960px;
}

/* Sidebar */

div#sidebar {
    color:#555555;
    float:right;
    width: 200px;
}

div.sidebar-section {
    background: url(images/content-page-gradiant.jpg) no-repeat 0 0;
    padding:15px;
}

div.sidebar-section h2 {
    color:#21449C;
    font-size:120%;
    font-weight:normal;
    margin-bottom:15px;
}

div.sidebar-section h3 {
    color:#555555;
    font-size:90%;
    margin-bottom:10px;
    margin-top:10px;
}

div.sidebar-section p {
    font-size:80%;
    line-height:130%;
    margin:5px 0;
}

div.sidebar-section p.aligncenter {
    text-align:center;
}

div.sidebar-section p.by-feedburner {
    font-size:60%;
}

div.sidebar-section ul {
    list-style:disc;
    list-style-position:inside;
}

div.sidebar-section ul li {
    font-size:90%;
    line-height:15px;
    margin-bottom:2px;
}

div.sidebar-section a {
    color:#2854B0;
}

div.sidebar-section a:hover {
    color:#378ABC;
}

div.sidebar-section img.feed {
    float:left;
    margin-bottom:5px;
    margin-right:5px;
}

div.sidebar-section form {
    background:#f2f2f2;
    border:1px dashed #d2d2d2;
    padding:3px;
}

div.feeds ul {
    list-style:none;
}

/* Posts */

div#posts {
    background: url(images/content-page-gradiant.jpg) no-repeat 0 0;
    border-right: 1px solid #efefef;
    padding:20px 20px 0 20px;
    width: 720px;
}

div#posts h2, div#posts h3 {
    font-weight:normal;
} 

div#posts h2 {
    border-left:1px solid #20397F;
    color:#213A82;
    font-size:150%;
    letter-spacing:-1px;
    padding:10px 0 15px 15px;
}

div#posts h3 {
    border-left:1px solid #b2b2b2;
    font-size:140%;
    letter-spacing:-1px;
    padding:5px 0 5px 15px;
}

div#posts h3 a {
    color:#1D4F8F;
}

/* Post */

div.post {
    border-left:1px solid #dfdfdf;
    color: #555555;
    font-size: 90%;
    line-height: 150%;
    margin-bottom:15px;
    padding:10px 0 5px 20px;
}

div.post a {
    color:#2854B0;
}

div.post a:hover {
    color:#378ABC;
}

div.post h4 {
    border-bottom: 1px solid #dfdfdf;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:3px;
    padding-left: 3px;
}

div#posts div.post-content h2,
div#posts div.post-content h3,
div#posts div.post-content h4,
div#posts div.post-content h5 {
    border:0;
    border-bottom:1px dashed #d2d2d2;
    color:#555555;
    font-size:125%;
    font-weight:bold;
    margin:20px 0;
    padding:0;
    padding-bottom:5px;
}

div#posts div.post-content h4,
div#posts div.post-content h5 {
    border:0;
    font-size:115%;
}

div.post-content p {
    margin-bottom:8px;
}

div.post-content ul {
    list-style:disc;
    margin: 10px 10px 10px 30px;
}

div.post-content ul ul {
    list-style:circle;
}

div.post-content blockquote,
div.post-content code {
    background:#f2f2f2;
    border:1px dashed #d2d2d2;
    display:block;
    margin:5px;
    padding:5px;
}

div.post-content blockquote {
    border:0;
    border-left:5px solid #d2d2d2;
    margin:0 20px;
}

div.post-content blockquote p {
    margin-bottom:0;
    text-indent:0;
}

div.post-content .alignright {
    margin:auto;
}

div.post-content .alignleft {
    float:left;
    margin:5px 15px 10px 0;
}

div.post-content .alignright {
    float:right;
    margin:5px 0 10px 15px;
}

div.post-info {
    border-top: 1px solid #dfdfdf;
    font-size:85%;
    margin-top:10px;
    padding-right:10px;
    text-align:right;
}
